<% include ../partials/header %>

<div class = 'row'>
	<div class = 'col-md-4'>
		<h1>
			<%= user.firstName%> <%= user.lastName %>
		</h1>
		<div class = 'thumbnail'>
			<img src = '<%= user.avatar %>' alt = 'user profile image ' >
			<div class = 'caption'>
				<a href = 'mailto: <%= user.email %>'> <%= user.email %>  </a>
			</div>

			
		</div>
		Cheesecake is a sweet dessert consisting of one or more layers. The main, and thickest layer, consists of a mixture of soft, fresh cheese (typically cream cheese or ricotta), eggs, and sugar. If there is a bottom layer, it often consists of a crust or base made from crushed cookies (or digestive biscuits), graham crackers, pastry, or sometimes sponge cake.[1] It may be baked or unbaked (usually refrigerated).
			Cheesecake is usually sweetened with sugar and may be flavored in many different ways. It may be flavored by adding vanilla, spices, lemon, chocolate, pumpkin, or other flavors to the cheese layer. Additional flavors and visual appeal may be added by topping the finished pie with fruit, whipped cream, nuts, cookies, fruit sauce, chocolate syrup, or other toppings.
	</div>
	<div class = 'col-md-8' >
		<h3>
			<%=user.username %>'s campgrounds
		</h3>
		<ul>
			<% campgrounds.forEach(function(campground){ %>
		<li> <a href = '/campground/<%=campground.id %>'><%= campground.title%></a></li>
		<% }); %>
		</ul>
	</div>
</div>
<% include ../partials/foot %>
